@font-face { font-family: "MonumentExtended-Black"; 
src: url("./assets/MonumentExtended-Black.woff") format("woff");
} 

@font-face { font-family: "RightGrotesk-WideMedium"; 
  src: url("./assets/RightGrotesk-WideMedium.woff") format("woff");
  /* font-stretch: 125% 180%; */
  } 

  @font-face { font-family: "RightGrotesk-SpatialRegular"; 
    src: url("./assets/RightGrotesk-SpatialRegular.woff") format("woff");
    /* font-stretch: 125% 180%; */
    } 
  @font-face { font-family: "ObjectSans-Heavy"; 
    src: url("./assets/ObjectSans-Heavy.woff") format("woff");
    } 


html {
  font-size: 16px;
  font-family: "Work Sans",sans-serif;
  width: 1900px;
  background: rgb(40,1,85);
  background: linear-gradient(90deg, rgba(40,1,85,0.4066001400560224) 0%, rgba(232,190,172,0.8239670868347339) 14%, rgba(232,190,172,1) 72%, rgba(232,190,172,1) 87%, rgba(232,190,172,0.4514180672268907) 100%);
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}


.sub-title h3 {
   font-family:"ObjectSans-Heavy",sans-serif;
   /* font-weight: 800; */
   background: -webkit-linear-gradient(left, #f72585, #002642);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*margin-top: 10vh;*/
  /*stroke: 2;*/
    /*font-weight: 600;*/
    margin-top: 4rem;
    font-size: 1.2rem;
}

p.footnote {
  font-size: 0.8rem;
  font-weight:600;
}


 .st-cls-1 {
 /*fill: red;*/
 /*position:fixed;*/
/*transition-duration: 1s  */
 }
 
.st-cls-2 {
 opacity: 0;
 fill: black
}

.sub-title {
  height: 20rem;
  text-align: center;
}

.sub-title p {
  font-size: 0.9rem;
  line-height: 0.5rem;
}

.bridge {
  height: 20rem;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
}

.lead {
  margin-top: 10%;
  height: 2rem;
}

.sub-title span {
display: block;
margin-top: 4rem;
 font-size: 300%;
 line-height: 5px;
 font-family: "MonumentExtended-Black";
 /*border: 1px solid black;*/
}

.filler {
  height: 30rem;
  text-align: center;
}

#scrolly-side .scrolly {
  display: flex;
  max-width: 100rem;
  margin: 3rem auto;
  border-radius: 100px;
background: rgb(232,190,172);
background: radial-gradient(circle, rgba(232,190,172,0.8239670868347339) 14%, rgba(232,190,172,0.5102415966386555) 69%, rgba(232,190,172,0) 100%);
  padding: 1rem;
}

#scrolly-side .scrolly > * {
  flex: 1;
}

#scrolly-side .scrolly article {
  padding-right: 1rem;
  max-width: 30rem;
}

#scrolly-side .scrolly article .step {
  min-height:30rem;
  margin-bottom: 1rem;
background: rgb(232,190,172);
background: linear-gradient(90deg, rgba(232,190,172,0) 0%, rgba(232,190,172,1) 61%, rgba(232,190,172,0.12368697478991597) 100%);
  transition: background-color 250ms ease-in-out;
}

#scrolly-side .scrolly article .step h4 {
   background: -webkit-linear-gradient(left, #f72585, #002642);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#scrolly-side .scrolly article .step:last-of-type {
  margin-bottom: 0;
}

#scrolly-side .scrolly article .step.is-active {
background: rgb(232,190,172);
background: linear-gradient(90deg, rgba(232,190,172,0) 0%, rgba(240,176,149,0.5662640056022409) 61%, rgba(232,190,172,0.12368697478991597) 100%);
  opacity: 0.8;
}

#scrolly-side .scrolly article .step {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  color: black;
  
}

#scrolly-side .scrolly figure.sticky {
  position: sticky;
  width: 100%;
  height: 50rem;
  /*background: #969696;*/
   /*border: 1px solid black;*/
  margin: 0;
  top: 8rem;
  left: 2rem;
}

.intro img {
  float: left;
  height: 5rem;
}

#scrolly-side .scrolly figure.sticky .bar-outer {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateY(-30%);
  width: 35%;
  height: 10rem;
  text-align: center;
   /*border: 1px solid black;*/
  /*background-color: #fff;*/
  /*opacity: 0.5;*/
}

#scrolly-side .scrolly figure.sticky .bar-inner {
  /*width: 30%;*/
  height: 100%;
  transition: width 1s ease-in-out;
  /*background-color: white;*/
  /*opacity: 0;*/
}

.quotes {
  position: absolute;
  width: 80%;
  /*top: 5%;*/
  left: 10%;
  /*opacity: 0;*/
  font-size: 0.9rem;
  font-weight: 400;
  /*margin-left: 20%;*/
  margin-right: 20%;
  border: 3px solid black;
  text-align: center;
  background-color: white;
  /*border-radius: 8px;*/
  line-height: 1.2rem;
}

.quotes h3 {
  font-size: 0.9rem;
}

.tina {
display: block;
margin-top: 2rem;
 font-size: 1.5rem;
 font-family: "MonumentExtended-Black";
 /*border: 1px solid black;*/
}
/*.culturelabel {*/
/*    transform: translate(-50%, 50%) rotate(45deg);*/
/*     z-index: 100;*/
/*}*/


.divider {
   /* background-color: purple; */
     width: 100%;
     height: 0.25px;
     margin: 0 0;
} 


 #scrolly-basic {
  /* width: 1900px; */
  /* position: relative; */
  /* background-position:center; */
 height: 600rem;
  background-image: url( ./assets/gaze.svg);
  background-repeat: no-repeat;
  border: 5px solid yellow; 
}

/* div.side-gaze {
  max-width: 100%;
  position: relative;
  background-image: url( ./assets/side-gaze.svg);
  background-repeat: no-repeat; */

#gaze article {
  position: relative;
  padding: 0 1rem;
  margin: 0 auto;
  /* width: 20%; */
}

#gaze article .step {
  display: block;
  margin: 0.5rem auto 1rem auto;
  /* background-color: #3b3b3b; */
  color: #fff;
  /* width: 25%; */
  height: 9rem;
  opacity: 0.05;
  transition: 250ms ease-in-out;
   /* border: 4px solid red; */
}

#gaze article .step.is-active {
  /* background-color: goldenrod; */
  color: #3b3b3b;
  /* height: 2rem; */
  font-size: 1rem;
  opacity: 1;
  transition:  250ms ease-in-out;
}


#gaze article .step p {
  /* text-align: center; */
  /* padding: 1rem; */
  font-size: 1rem;
  opacity: 1;
}  

#gaze article .step h3 {
  text-align: middle;
  margin-top: auto;
  margin-bottom: auto;
 /* margin-top: 1rem; */

}  

.spaceholder {
  height: 30rem;
  /* margin-bottom: 200px; */
  /* border: 5px solid orange; */
}

.summary {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0;

}
div.social {
  flex: 50%;
  /* border: 5px solid orange; */
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}

div.surgical {
  flex: 50%;
  /* border: 1px solid green; */
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
 }

div.divider {
   /* text-align: center;
   vertical-align: middle; */
   margin-top: auto;
   margin-bottom: auto;
  /* flex: 80%; */
  /* border: 5px solid orange; */
}


.instagram>.summary{
  margin-top: 3rem;
  height: 10rem;
   /* border: 5px solid orange; */
   vertical-align: middle; 
}

.tracing-line {
  height: 1000px;
  float: left;
  position: abosulte;
  top:0;
}

.analysis_spaceholder{
 height: 20rem;
     /* border: 5px solid orange; */
}

#gaze_year {
  font-family: "ObjectSans-Heavy";
  font-size: 3.5rem;
  color: white;
  /* color: #000000; */
}

#social-test {
  font-size: 3.5rem;
}

#teen17 {
  font-family: "MonumentExtended-Black";
  font-size: 4rem;
  color: purple;
}

#analysis h2 {
  color: white;
}

.axisRed line{
  stroke: white;
}

.axisRed path{
  stroke: white;
}

.axisRed text{
  fill: white;
  font-size: 0.5rem;
}

/* Moving Eyes */
div.face {
  position: absolute;
}

div.iris-left {
  position: relative;
  top: 18rem;
  left: 26rem;
}

div.iris-right {
  position: relative;
  top: 9.4rem;
  left: 70rem;
}

div.iris div {
  position: relative;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background-color: black;
  border-radius: 18px;
  transform: translate(-50%, -50%);
}

.spaceholder1 {
  height: 15rem;
}