@font-face { font-family: "MonumentExtended-Black.woff2"; 
src: url("./assets/MonumentExtended-Black.woff2"); } 

html {
  /*font-size: 16px;*/
  font-family: "Work Sans",sans-serif;
/*width: 1900px;*/
  width: 1900px;

background: rgb(40,1,85);
background: linear-gradient(90deg, rgba(40,1,85,0.4066001400560224) 0%, rgba(232,190,172,0.8239670868347339) 14%, rgba(232,190,172,1) 72%, rgba(232,190,172,1) 87%, rgba(232,190,172,0.4514180672268907) 100%);
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}
b {
  font-family: "Secular One";
  font-size: 1.2rem;
}

p.footnote {
  font-size: 0.8rem;
  font-weight:600;
}
h3 {
   font-family:"Work Sans",sans-serif;
   font-weight: 800;
   background: -webkit-linear-gradient(left, #f72585, #002642);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*margin-top: 10vh;*/
  /*stroke: 2;*/
    /*font-weight: 600;*/
}

.sub-title h3 {
    margin-top: 10vh;
}

 .st-cls-1 {
 /*fill: red;*/
 /*position:fixed;*/
/*transition-duration: 1s  */
 }
 
.st-cls-2 {
 opacity: 0;
 fill: black
}
 
.enter {
 opacity: 1;
 /*transition-duration: 1s  */
}


.sub-title {
  height: 20rem;
  text-align: center;
}

.sub-title p {

  font-size: 0.9rem;
  line-height: 0.5rem;
}

.bridge {
  height: 20rem;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
}

.lead {
  margin-top: 10%;
  height: 2rem;
}

.sub-title span {
display: block;
margin-top: 8vh;
 font-size: 300%;
 line-height: 5px;
 font-family: "MonumentExtended-Black";
 /*border: 1px solid black;*/
}

.filler {
  height: 30rem;
  text-align: center;
}

#scrolly-side .scrolly {
  display: flex;
  max-width: 100rem;
  margin: 3rem auto;
  border-radius: 100px;
background: rgb(232,190,172);
background: radial-gradient(circle, rgba(232,190,172,0.8239670868347339) 14%, rgba(232,190,172,0.5102415966386555) 69%, rgba(232,190,172,0) 100%);
  padding: 1rem;
}

#scrolly-side .scrolly > * {
  flex: 1;
}

#scrolly-side .scrolly article {
  padding-right: 1rem;
  max-width: 30rem;
}

#scrolly-side .scrolly article .step {
  min-height: 77vh;
  margin-bottom: 1rem;
background: rgb(232,190,172);
background: linear-gradient(90deg, rgba(232,190,172,0) 0%, rgba(232,190,172,1) 61%, rgba(232,190,172,0.12368697478991597) 100%);
  transition: background-color 250ms ease-in-out;
}

#scrolly-side .scrolly article .step h4 {
   background: -webkit-linear-gradient(left, #f72585, #002642);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#scrolly-side .scrolly article .step:last-of-type {
  margin-bottom: 0;
}

#scrolly-side .scrolly article .step.is-active {
    /*border-radius: 25px;*/
background: rgb(232,190,172);
background: linear-gradient(90deg, rgba(232,190,172,0) 0%, rgba(240,176,149,0.5662640056022409) 61%, rgba(232,190,172,0.12368697478991597) 100%);
  opacity: 0.8;
}

#scrolly-side .scrolly article .step {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  color: black;
  
}

#scrolly-side .scrolly figure.sticky {
  position: sticky;
  width: 100%;
  height: 100vh;
  /*background: #969696;*/
   /*border: 1px solid black;*/
  margin: 0;
  top:10vh;
  left: 0;
}

.intro img {
  float: left;
  height: 12vh;
}

#scrolly-side .scrolly figure.sticky .bar-outer {
  position: absolute;
  top: 15%;
  left: 55%;
  transform: translateY(-20%);
  width: 40%;
  height: 10rem;
  /*background-color: #fff;*/
  /*opacity: 0.5;*/
}

#scrolly-side .scrolly figure.sticky .bar-inner {
  /*width: 30%;*/
  height: 100%;
  transition: width 1s ease-in-out;
  background-color: #e8beac;
  /*opacity: 0;*/
}

.quotes {
  position: absolute;
  width: 80%;
  /*top: 5%;*/
  left: 0%;
  /*opacity: 0;*/
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 20%;
  margin-right: 20%;
  border: 3px solid black;
    text-align: center;
  background-color: white;
  /*border-radius: 8px;*/
  line-height: 1.2rem;
}

.quotes h3 {
  font-size: 0.9rem;
}

.tina {
display: block;
margin-top: 5vh;
 font-size: 1.5rem;
 font-family: "MonumentExtended-Black";
 /*border: 1px solid black;*/
}
/*.culturelabel {*/
/*    transform: translate(-50%, 50%) rotate(45deg);*/
/*     z-index: 100;*/
/*}*/