@font-face { font-family: "FitVariable-VF"; 
  src: url("./assets/FitVariable-VF.woff") format("woff");
  /* font-stretch: 25% 151%; */
  } 

  @font-face { font-family: "MonumentExtended-Black";
    src: url("./assets/MonumentExtended-Black.woff") format("woff");
    } 
  

@font-face { font-family: "MonumentExtended-Bold"; 
  src: url("./assets/MonumentExtended-Bold.woff") format("woff");
  } 

@font-face { font-family: "MonumentExtended-Regular"; 
    src: url("./assets/MonumentExtended-Regular.woff") format("woff");
    } 
@font-face { font-family: "RightGrotesk-WideMedium"; 
  src: url("./assets/RightGrotesk-WideMedium.woff") format("woff");
  /* font-stretch: 125% 180%; */
  } 

@font-face { font-family: "RightGrotesk-SpatialRegular"; 
    src: url("./assets/RightGrotesk-SpatialRegular.woff") format("woff");
    /* font-stretch: 125% 180%; */
    } 

@font-face { font-family: "RightGrotesk-SpatialBlack"; 
      src: url("./assets/RightGrotesk-SpatialBlack.woff") format("woff");
      /* font-stretch: 125% 180%; */
      } 

@keyframes animate-type-t {
        0% {
          font-variation-settings: "wdth" 115; 
          letter-spacing: 0.3rem;
          /* filter: blur(3px); */
          /* -webkit-filter: blur(3px); */
        }
        100% {
          font-variation-settings: "wdth" 600;  
          letter-spacing: 0.5rem;
          
        }
  }


  @keyframes animate-type-s {
    0% {
      /* filter: blur(1px); */
      /* -webkit-filter: blur(2px); */

    }
    100% {
      /* filter: blur(0px); */
      /* -webkit-filter: blur(0px); */

    }
}

  @keyframes animate-type-c {
    0% {
      font-variation-settings: "wdth" 110; 
      letter-spacing: 0.3rem;
      /* filter: blur(1px); */
      /* -webkit-filter: blur(2px); */

    }
    100% {
      font-variation-settings: "wdth" 315; 
      letter-spacing: 0.3rem; 
    }
}

@keyframes animate-type-subtitle {
  0% {
    transform: translateY(-0.5rem) scale(1,0.5);
    transform-origin: 0 0;
    opacity: 0;
  }
  100% {
    transform: translateY(0.5rem) scale(1,1);
    transform-origin: 0 0;
    opacity: 1;
  }
}

@keyframes animate-meta-medi{
  0% {
       transform: translate(0, 35%);
    opacity: 0.75;
  }
  100% {

    transform: translate(0, 30%);
    opacity: 1;
  }
}

@keyframes fly {
  0% {
   offset-distance: 0%;
  
  }
  100%{
  offset-distance: 100%;
  }
  
  }

/* @keyframes animate-type-analysis {
  0% {
    transform: translateY(2rem);
    transform-origin: 0 0;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 0 0;
    opacity: 1;
  }
} */
html {
  font-size: 16px;
  font-family: "Open Sans",sans-serif;
  max-width: 1920px;
  min-width: 1366px;
  /* height: 5000px; */
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  background: rgb(102,103,171);
  background: -moz-linear-gradient(90deg, rgba(102,103,171,0.6516981792717087) 0%, rgba(205,172,172,1) 39%, rgba(220,182,172,1) 49%, rgba(232,190,172,1) 59%);
  background: -webkit-linear-gradient(90deg, rgba(102,103,171,0.6516981792717087) 0%, rgba(205,172,172,1) 39%, rgba(220,182,172,1) 49%, rgba(232,190,172,1) 59%);
  background: linear-gradient(90deg, rgba(102,103,171,0.6516981792717087) 0%, rgba(205,172,172,1) 39%, rgba(220,182,172,1) 49%, rgba(232,190,172,1) 59%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6667ab",endColorstr="#e8beac",GradientType=1);
  
}

*, *:before, *:after {
  box-sizing: inherit;
  }



#title {
  display: block;
  width: 100%;
  margin: 0 0 0 0;
 min-height: 35rem;
 text-align: center;
 /* background-color: red; */
}

#iconimg {
  display: none;
}

#title span {
  font-family: "FitVariable-VF";
  font-size: 25rem;
  /* font-stretch: 150%; */
  line-height: 20rem;
 
  /* object-fit: cover; */
}

.fit-t {

 animation: animate-type-t 3s cubic-bezier(0.65,0,0.35,1);
 animation-delay: 0.1s;
 animation-fill-mode: both;
}

.fit-s {

  font-variation-settings: "wdth" 100; 
  letter-spacing: 0.3rem;
  animation: animate-type-s 3s cubic-bezier(0.55,0,0.45,1);
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

.fit-c {
  animation: animate-type-c 3s cubic-bezier(0.65,0,0.35,1);
  /* animation-delay: 0.1s; */
  animation-fill-mode: both;
}



#sub_title {
  min-height: 8rem;
} 

#sub_title span {
  display: block;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 300%;
  text-align: center;
  line-height: 0.6rem;
  font-family: "MonumentExtended-Black";
  animation-delay: 0.2s;
  animation: animate-type-subtitle 3.5s cubic-bezier(0.75,0,0.25,1);
  animation-fill-mode: both;
}


.introduction {
  width: 40%;
  margin: 0 auto;
  margin-top: 4rem;
}

#intro_text {
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
}

#tagline {
  text-align: center;
}

#tagline h3 {
   font-family:"Open Sans",sans-serif;
   /* font-weight: 800; */
   background: -webkit-linear-gradient(left, #7d3bc7, #8aa10e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*margin-top: 10vh;*/
    font-weight: 800;
    margin-top: 2rem;
    font-size: 1.8rem;
}

p {
  font-size: 1rem;

}




#intro_bridge {
  display: block;
  margin-bottom: 10%;
  /* background-color: green; */
}

.sub-title {
  margin-top: 20rem;
  height: 20rem;
  text-align: center;
    /* background-color: green; */
}

.sub-title p {
  font-size: 0.9rem;
  line-height: 0.5rem;
}

.bridge {
  height: 20rem;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}

#lead_intro {
  margin-top: 5%;
  margin-bottom: 10%;
  height: 5rem;
  text-align: left;
  font-size: 1rem;
}


.filler {
  height: 20rem;
  text-align: center;
}

#scrolly-side {
  display: block;
  /* background-color: white; */
}

#scrolly-side .scrolly {
  display: flex;
  max-width: 100rem;
  margin: 3rem auto;
  border-radius: 100px;
/* background: rgb(232,190,172);
background: radial-gradient(circle, rgba(232,190,172,0.8239670868347339) 14%, rgba(232,190,172,0.5102415966386555) 69%, rgba(232,190,172,0) 100%); */
  padding: 1rem;
}

.step h2 {
  font-family: "MonumentExtended-Black";
  font-size: 1.2rem;
  /* background: rgb(125,59,199);
background: linear-gradient(90deg, rgba(125,59,199,1) 0%, rgba(64,30,101,1) 0%, rgba(0,0,0,1) 100%, rgba(230,136,96,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  border-bottom: 0.5px solid;
  height: 2.5rem;
  width: 90%;
  margin: 0 auto;
}

#scrolly-side .scrolly > * {
  flex: 1;
}

#scrolly-side .scrolly article {
  padding-right: 1rem;
  max-width: 30rem;
}

#scrolly-side .scrolly article .step {
  min-height:30rem;
  margin-bottom: 1rem;
/* background: rgb(232,190,172); */
/* background: linear-gradient(90deg, rgba(232,190,172,0) 0%, rgba(232,190,172,1) 61%, rgba(232,190,172,0.12368697478991597) 100%); */
  transition: background-color 250ms ease-in-out;
  
}

#scrolly-side .scrolly article .step h4 {
   color: black;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0;
}

#scrolly-side .scrolly article .step p:last-of-type {
  width: 90%;
  margin: 0 auto;
}


#scrolly-side .scrolly article .step:last-of-type {
  margin-bottom: 10%;
}

#scrolly-side .scrolly article .step.is-active {
/* background: rgb(232,190,172); */
/* background: linear-gradient(90deg, rgba(232,190,172,0) 0%, rgba(240,176,149,0.5662640056022409) 61%, rgba(232,190,172,0.12368697478991597) 100%); */
  opacity: 0.8;
}

#scrolly-side .scrolly article .step {
  margin: 0;
  padding: 2rem;
  text-align: center;
  font-weight: 400;
  color: black;
  
}


#scrolly-side .scrolly figure.sticky {
  position: sticky;
  width: 100%;
  height: 40rem;
  /*background: #969696;*/
   /*border: 1px solid black;*/
  margin: 0;
  top: 4rem;
  left: 2rem;
}

#counter_h4 {
  font-family: "MonumentExtended-Black";
  font-size: 1.2rem; 
  margin-left: 15%
}

.intro img {
  float: left;
  height: 5rem;
}


 #scrolly-side .scrolly figure.sticky .bar-outer {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translateY(-50%);
  width: 45%;
  height: 10rem;
  text-align: center;
  transition: 600ms ease-in-out;
   /*border: 1px solid black;*/
  /* background-color: #fff; */
  /* opacity: 0.5; */
}

.quotes {
  position: absolute;
  width: 100%;
  text-align: center;
  transition: 600ms;
  background-color: #E8BEAC;
  /* transition-delay: 300ms; */
}

.lyrics {
  margin-top: 6%;
  font-weight: 400;
  margin-left: 16%;
  margin-right: 16%;
  /* width: 55%; */
  border: 3px solid black;
  text-align: center;
  background-color: white;
  /*border-radius: 8px;*/
  line-height: 1.2rem;
  /* font-size: 0.6rem; */
}

.lyrics p {
  font-size: 0.9rem;
}

.quotes h2 {
  font-family: "MonumentExtended-Black";
  font-size: 1.2rem;
  /* background: rgb(125,59,199); */
/* background: linear-gradient(90deg, rgba(125,59,199,1) 0%, rgba(64,30,101,1) 0%, rgba(0,0,0,1) 100%, rgba(230,136,96,1) 100%); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #7d3bc7;
  border-bottom: 0.5px solid;
  border-color: black;
  height: 2.5rem;
  width: 80%;
  margin: 0 auto;
}

.chartheader {
  font-family: "MonumentExtended-Black";
  font-size: 1.2rem;
  /* background: rgb(125,59,199); */
/* background: linear-gradient(90deg, rgba(125,59,199,1) 0%, rgba(64,30,101,1) 0%, rgba(0,0,0,1) 100%, rgba(230,136,96,1) 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 0.5px solid;
  height: 2.5rem;
  width: 80%;
  margin: 0 auto;
}

.quotes h4 {
  font-weight: 700;
  font-size: 1rem;
  color: #7d3bc7;
  margin-bottom: 0;
}


/*.culturelabel {*/
/*    transform: translate(-50%, 50%) rotate(45deg);*/
/*     z-index: 100;*/
/*}*/

#gazemoney {
  font-weight: 800;
  margin-bottom: 10%;
  font-size: 1rem;
}

#bridge_text {
 text-align: left;
 margin-bottom: 1rem;
 font-size: 1rem;
}
.divider {
   /* background-color: purple; */
     width: 100%;
     height: 0.25px;
     margin: 0 0;
     /* border: 5px solid pink; */
} 


 #scrolly-basic {
  display: block;
  background-image: url( ./assets/gaze.svg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  /* margin-top: 5rem; */
  /* background-size: 100% 100%; */
  /* background-color: black; */
  /* border: 5px solid yellow;  */
}


#gaze article {
  position: relative;
  padding: 0 1rem;
  margin: 0 auto;
  /* width: 20%; */
}

#gaze article .step {
  display: block;
  margin: 0.5rem auto 1rem auto;
  /* background-color: #3b3b3b; */
  color: #fff;
  /* width: 25%; */
  height: 9rem;
  opacity: 0.05;
  transition: 250ms ease-in-out;
   /* border: 4px solid red; */
}

#gaze article .step.is-active {
  /* background-color: goldenrod; */
  color: #3b3b3b;
  /* height: 2rem; */
  font-size: 1rem;
  opacity: 1;
  transition:  250ms ease-in-out;
}


#gaze article .step p {
  /* text-align: center; */
  /* padding: 1rem; */
  font-size: 1rem;
  opacity: 1;
}  

#gaze article .step h3 {
  text-align: middle;
  margin-top: auto;
  margin-bottom: auto;
 /* margin-top: 1rem; */

}  

#intro_gaze {
  display: block;
  height: 25rem;
  width: 40%;
  margin: 0 auto;

}

.spaceholder {
  height: 20rem;
  opacity: 0;
  /* margin-bottom: 200px; */
  border: 5px solid orange;
}

.summary {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0;
  /* border: 5px solid green; */
}
.social>h4  {
  font-size: 1.3rem;
  font-weight: 800;
}
.surgical>h4
{
  font-size: 1.3rem;
  font-weight: 800;
}
div.social {
  flex: 50%;
  /* border: 5px solid orange; */
  color: white;
  margin-top: 0.5rem;
  /* margin-bottom: auto; */
  text-align: left;
}

div.surgical {
  flex: 50%;
  /* border: 1px solid green; */
  color: white;
  margin-top: 0.5rem;
  /* margin-bottom: auto; */
  text-align: left;
 }

div.divider {
   text-align: center; 
   margin-top: 3rem;
   /* margin-bottom: auto; */
  /* flex: 80%; */
  /* border: 5px solid orange; */
}


.instagram>.summary{
  margin-top: 0rem;
  height: 10rem;
   /* border: 5px solid orange; */
   /* vertical-align: middle;  */
}


.analysis_spaceholder{
 height: 20rem;
}

#gaze_year {
  font-family: "RightGrotesk-SpatialBlack";
  font-size: 4rem;
  color: white;
  /* color: #000000; */
}

#social-font {
  font-family: "RightGrotesk-WideMedium";
  font-size: 3rem;
  margin-top: 0rem; 
}

#analysis h2 {
  color: white;
}

.axisAnalysis line{
  stroke: #808080;
}

.axisAnalysis path{
  stroke: #808080;
}


.axisAnalysis text{
  fill: #A9A9A9;
  font-size: 0.4rem;
  font-family: "Open Sans";
}

/* Moving Eyes */
div.face {
  position: absolute;
}

div.iris-left {
  position: relative;
  top: 18rem;
  left: 24rem;

}

div.iris-right {
  position: relative;
  top: 8rem;
  left: 69rem;
}

div.iris div {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 25px;
  transform: translate(-50%, -50%);
}

.spaceholder1 {
  height: 15rem;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  /* opacity: 0; */
}

/* .spaceholder1 img {
  animation: animate-meta-medi 1s infinite alternate;
  animation-fill-mode: both;
} */

/* #tooltip {
  position: relative;
  top: 20rem;
  left: 61rem;
  width: 20%;
   border: 5px solid orange;
   text-align: center;
} */

#social_170m img{
margin-bottom: 0;
}

#social_170mtext {
  /* border: 5px solid orange; */
  margin-top: 0.2rem;
}

.anno_2020 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -sand-transform: rotate(45deg);
  transform: rotate(45deg);}

.slider text {
  font-size: 0.45rem;
  font-family: "Open Sans";
}

.tooltipBox{
  background: rgb(162,14,227);
  background: linear-gradient(90deg, rgba(162,14,227,0) 0%, rgba(202,116,195,0.5648634453781513) 12%, rgba(212,141,187,0.7441351540616247) 22%, rgba(255,255,255,0.6292892156862745) 45%, rgba(232,190,172,0.39959733893557425) 73%, rgba(217,153,183,0.4023984593837535) 87%, rgba(209,132,190,0.11668417366946782) 100%);
}


#analysis_spaceholder  {
  height: 5rem;
  margin-top: 5rem;
  margin-left: 4rem;
  font-size: 2rem;
 text-align:middle;
  font-family: "MonumentExtended-Black";
  color: #E8BEAC;
}

/* .animate {
  animation: animate-type-analysis 3s;
  animation-fill-mode: forwards;
} */

#analysis {
  /* border: 5px solid orange; */
 /* height: 30rem; */
}


p.bracket  {
  margin-top: 0;
  font-size: 0.8rem;
}

#nodata {
  top: 10rem;
}

/* unvisited link */
a:link {
  color: #E8BEAC;
}

/* visited link */
a:visited {
  color: #8aa10e;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}


p.footnote {
  margin-top: 0;
  font-size: 0.9rem;
  font-weight:600;
}

div.quotesanchor {
  z-index: 9999;
}

.description {
  font-size: 0.9rem;
}

#outro {
  /* color: #808080; */
  color: white;
  margin-top: -1rem;
  height: 8rem;
  text-align: center;
  vertical-align: bottom;
  background-color: black;
}

p#outro-assignment  {
  height: 2rem;
  font-size: 0.8rem;
  background-color: black;
  margin: 1rem 0;
  vertical-align: center; 
}


#linkedin {
  margin: auto;
  vertical-align: middle; 
  display: inline-block;
  transform: translate(10%,-15%);
 } 
 
 
 #linkedin:hover {
 transform: translate(25%,-25%);
  } 

.citation a {
  text-decoration: none;
}

.sliderref :hover {
 font-size: 1rem;
}

.dot {
  /* width:100px; */
  offset-path: path("M43,21.94S34.59,37.45,28.62,43.27C21.91,49.8,13,52.55,6.43,46.73-2.84,38.51,5,8.64,22.55,3c18.73-6,33.7,45.26,53.7,46.51S84.75-1.42,60.8,3.32c-4.31.86-12,9.43-14.94,15.1");
 /* offset-rotate: auto 45deg; */
 position: relative;
 top: 35%;
 left: 45.5%; 
 align-items: center;
 width: 16px;
 height: 16px;
 background-color: beige;
 border-radius: 8px;
     filter: blur(3px);
          -webkit-filter: blur(3px);
animation: fly 7s infinite alternate cubic-bezier(.22, 0, .76, 1) both;
z-index: 9998;

}

.dot-path {
width: 10%;
margin: 0 auto;
  /* border: 5px solid orange; */
   animation: animate-meta-medi 1s infinite alternate;
   animation-fill-mode: both;
   
}


.dot-path g {
  justify-content: center;
}




