.filler {
  height: 20rem;
  text-align: center;
}

#scrolly-side .scrolly {
  display: flex;
  max-width: 60rem;
  margin: 3rem auto;
  background-color: #f4f4f4;
  padding: 1rem;
}

#scrolly-side .scrolly > * {
  flex: 1;
}

#scrolly-side .scrolly article {
  padding-right: 1rem;
  max-width: 30rem;
}

#scrolly-side .scrolly article .step {
  min-height: 67vh;
  margin-bottom: 1rem;
  background-color: #5b5b5b;
  transition: background-color 250ms ease-in-out;
}

#scrolly-side .scrolly article .step:last-of-type {
  margin-bottom: 0;
}

#scrolly-side .scrolly article .step.is-active {
  background-color: #008080;
}

#scrolly-side .scrolly article .step p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  color: #f4f4f4;
}

#scrolly-side .scrolly figure.sticky {
  position: sticky;
  width: 100%;
  height: 50vh;
  background: #969696;
  margin: 0;
  top: 25vh;
  left: 0;
}

#scrolly-side .scrolly figure.sticky .bar-outer {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: 90%;
  height: 4rem;
  background-color: #fff;
}

#scrolly-side .scrolly figure.sticky .bar-inner {
  width: 10%;
  height: 100%;
  transition: width 1s ease-in-out;
  background-color: #daa520;
}
