@font-face { font-family: "MonumentExtended-Black.woff2"; 
src: url("../assets/MonumentExtended-Black.woff2"); } 

html {
  /*font-size: 16px;*/
  font-family: "Work Sans",sans-serif;
/*width: 1900px;*/
  width: 1900px;

background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.53125) 0%, rgba(232,190,172,1) 16%, rgba(232,190,172,1) 75%, rgba(0,212,255,0.17270658263305327) 100%);
  /*background-color: #E8BEAC;*/
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

h3 {
   font-family: "Arial Black",sans-serif;
   font-weight: 600;
   background: -webkit-linear-gradient(left, #f72585, #002642);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  /*stroke: 2;*/
    /*font-weight: 600;*/
}

 .st-cls-1 {
 /*fill: red;*/
 /*position:fixed;*/
/*transition-duration: 1s  */
 }
 
.st-cls-2 {
 opacity: 0;
 fill: black
}
 
.enter {
 opacity: 1;
 /*transition-duration: 1s  */
}


.sub-title {
  height: 20rem;
  text-align: center;
}

.bridge {
  height: 20rem;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
}

.lead {
  margin-top: 10%;
  height: 2rem;
}

.sub-title span {
display: block;
margin-top: 2vh;
 font-size: 300%;
 font-family: "MonumentExtended-Black";
 /*border: 1px solid black;*/
}

.filler {
  height: 30rem;
  text-align: center;
}

#scrolly-side .scrolly {
  display: flex;
  max-width: 100rem;
  margin: 3rem auto;
  background-color: #E8BEAC;
  padding: 1rem;
}

#scrolly-side .scrolly > * {
  flex: 1;
}

#scrolly-side .scrolly article {
  padding-right: 1rem;
  max-width: 30rem;
}

#scrolly-side .scrolly article .step {
  min-height: 67vh;
  margin-bottom: 1rem;
  background-color: #E8BEAC;
  transition: background-color 250ms ease-in-out;
}

#scrolly-side .scrolly article .step:last-of-type {
  margin-bottom: 0;
}

#scrolly-side .scrolly article .step.is-active {
  background-color: #F0C8BD;
  opacity: 0.8;
}

#scrolly-side .scrolly article .step {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  color: black;
  
}

#scrolly-side .scrolly figure.sticky {
  position: sticky;
  width: 100%;
  height: 80vh;
  /*background: #969696;*/
   /*border: 1px solid black;*/
  margin: 0;
  top:25vh;
  left: 0;
}

#scrolly-side .scrolly figure.sticky .bar-outer {
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translateY(-50%);
  width: 30%;
  height: 15rem;
  background-color: #fff;
}

#scrolly-side .scrolly figure.sticky .bar-inner {
  width: 14%;
  height: 100%;
  transition: width 1s ease-in-out;
  background-color: #E8BEAC;
}

.quotes {
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0;
  font-size: 1.2rem;
  text-anchor: middle;
  border: 1px solid black;
    text-align: center;
}

/*.culturelabel {*/
/*    transform: translate(-50%, 50%) rotate(45deg);*/
/*     z-index: 100;*/
/*}*/